@mixin gf-header {
  margin: 0;
  color: $black;
  font-family: $primary-font;
  font-weight: $weight-bold;
}

@mixin gf-h1 {
  @include gf-header;

  font-size: rem(40px);
  line-height: 1.2;
}

.gf-h1 {
  @include gf-h1;
}

@mixin gf-h2 {
  @include gf-header;

  font-size: rem(24px);
  line-height: 1.2;
}

.gf-h2 {
  @include gf-h2;
}

@mixin gf-h3 {
  @include gf-header;

  font-size: rem(20px);
  line-height: 1.2;
}

.gf-h3 {
  @include gf-h3;
}

@media #{$small} {
  .gf-h1 {
    font-size: rem(72px);
    letter-spacing: -3px;
  }

  .gf-h2 {
    font-size: rem(32px);
  }

  .gf-h3 {
    font-size: rem(24px);
  }
}

