// --------------------------------------------------
// Colors
// --------------------------------------------------

$white: #fff;
$black: #1c1c1c;
$yellow: #ffff00;

// --------------------------------------------------
// Typography
// --------------------------------------------------

$base-font-size: 16px;
$primary-font: 'Helvetica', 'Arial', sans-serif;
$weight-bold: bold;

// --------------------------------------------------
// Layout
// --------------------------------------------------

$grid-gutter: 24px;
$rhythm: 8px;
$border: 3px solid $black;

$header-height-sm: 60px;
$header-height-lg: 100px;

// --------------------------------------------------
// Easing
// --------------------------------------------------

$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

// --------------------------------------------------
// Media Queries
// --------------------------------------------------

$small: '(min-width: 600px)';
$medium: '(min-width: 1000px)';
$large: '(min-width: 1300px)';
